<div id="terms_text">
  <p>Please read these terms and conditions carefully before using the services described


below. By using these services, you acknowledge that you have agreed to become a party



to and legally bound by these terms and conditions. If you do not wish to be bound by



these terms and conditions, you may not access or otherwise use these services.</p>



  <p>------------------------------------------------------------------------</p>



  <h2>Virtual I, Inc Virtual Tours: General Information</h2>



  <p>------------------------------------------------------------------------</p>



  <p>Virtual I, Inc  makes available to realtors, brokers and home owners, and rental agent



the ability to upload images to 3 defined packages and 2 combo packages. A visual



tour consists of a number of images put into a slide show. The number of images in



the visual tour depends on the type of package pick. The Virtual I, Inc Bronze package



consists of up to 10 still images. The Virtual I, Inc Sliver visual tour consists of 45 and



5 primary images of the 45 images. A Virtual I, Sliver visual tour consists of 55 and 5



primary images of the 55 images. The Virtual I, Inc has 2 combo packages for agents and



brokers who have rentals and home sales. Virtual I, Inc offers a discount of the combined



packages that are the same type of package for both the Sliver home sales and Silver



rental sales or Gold home sales and rental sales.</p>



  <p>Once a tour is processed, it will be posted to a unique Internet address on the Virtual I,



Inc website. The URL to the tour will be sent to the email address provided to Virtual I,



Inc. This URL can be freely used to create a link from your own personal website. Virtual



I, Inc is not responsible for emails not received. To lower the chances of your Virtual I,



Inc emails being mistakenly marked as “spam” or “trash”, we strongly recommend that



you add support@Virtualiinc.com to your address book.</p>



  <p>Virtual I, Inc has all images available for down load after the images have been optimized



to a zip file to down load.</p>



  <p>A virtual tour will be posted to the Virtual I, Inc website only upon receiving required



information as specified at time of creating the tour. This information includes but is not



limited to: MLS number, asking price, address, square footage, the number of bedrooms



and bathrooms. Virtual I, Inc is not responsible for any delays that are the result of



missing or incorrect information.</p>



  <p>The virtual tour will become inactive after a homes are sold or rented and if payment isn’t



provided in the required time. The tour can be reactivated at any time up to the 15



of a subscription. Virtual I, Inc reserves the right to charge an annual fee (upon client



notification) for any tour that is hosted by Virtual I, Inc.</p>



  <p>All prices advertised on Virtual I, Inc.com are for residential real estate agents, Brokers,



home sales by owner and rental agents and home owner rentals.</p>




  <p>All images and media are the sole property of Virtual I, Inc. Virtual I, Inc reserves all



rights to these images, media and content. All images and media are made available to



client until the property is sold, listing expires. (Unless otherwise specified in writing.)</p>



  <p>------------------------------------------------------------------------</p>



  <h2>Virtual I, Inc Virtual Tours: Upgrade and Down grade of packages:</h2>



  <p>------------------------------------------------------------------------</p>



  <p>Virtual I, Inc visual tours packages 1 and 2 can be upgraded to the next higher package



at any time during the 30 day subscription. The client’s credit card will be charged



the difference of the next package if upgraded during the first 15 days of the 30 day



subscription. If a client upgrades to a higher package after the 15



the client will be charged the full price of the higher package starting the next 30day



subscription. The client will be able to upgrade package 1 to any of the upper level



package at full price weather its day 1 or day 30 day of a 30 day subscription. This is only



to upgrade to a single package excluding a combo packages.</p>



  <p>Virtual I, Inc visual tours can be down graded to a lower package except the Bronze



package. A client down grades to a lower package will receive a credit to the next month



30 day subscription if done so with in the first 15 days of a 30 day subscription. If a client



chooses to down grades to a lower package after the 15



there will be no credit or refund given.</p>



  <p>------------------------------------------------------------------------</p>



  <h2>Virtual I, Inc Virtual Tours: Combo to Combo package down & upgrade:</h2>



  <p>------------------------------------------------------------------------</p>



  <p>Virtual visual tour combo packages can be upgraded and down graded between the



    combo and single packages except to the Bronze package.</p>



  <p>Virtual I, Inc Virtual Tours combo packages can be down grade from Gold combo to



Silver combo if down graded between day 1 and day 15 will receive a credit of the



difference of the two packages to the next 30 day subscription. If the down grade is



between day 16 and day 30 there will be no credit given.</p>



  <p>Virtual I, Inc Virtual Tours combo packages can be upgraded from Sliver combo to Gold



combo if upgraded between day 1 and day 15 the credit card on record will be changed



the difference of the two packages at the time of upgrade. If the upgrade is between day



16 and day 30 you will be charged the full price of the upgraded package the start of the



next 30 day subscription.</p>






  <p>------------------------------------------------------------------------</p>



  <h2>Virtual I, Inc Virtual Tours: Combo to single package down & upgrade:</h2>



  <p>------------------------------------------------------------------------</p>



  <p>Virtual visual tour combo packages can be upgraded and down graded between the



combo and single packages except to the Bronze package.</p>



  <p>Virtual I, Inc Virtual Tours combo packages can be down grade from Gold combo to



Gold package if down graded between day 1 and day 15 will receive a credit of the



difference of the two packages to the next 30 day subscription and the credit card on



record will be charged the difference remaining. If the down grade is between day 16 and



day 30 there will be no credit given to the next 30 day subscription.</p>



  <p>Virtual I, Inc Virtual Tours combo packages can be down grade from Gold combo



to Silver package if down graded between day 1 and day 15 will receive a credit of



the difference of the two packages to the next 30 day subscription and the difference



remaining will be credited to the next 30 day subscription. If the down grade is between



day 16 and day 30 there will be no credit given to the next 30 day subscription.</p>



  <p>Virtual I, Inc Virtual Tours combo packages can be upgraded from Gold package to Gold



combo if upgraded between day 1 and day 15 the credit card on record will be charged



the difference of the two packages at the time of upgrade. If the upgrade is between day



16 and day 30 you will be charged the full price of the upgraded package the start of the



next 30 day subscription.</p>



  <p>Virtual I, Inc Virtual Tours combo packages can be upgraded from Silver package to



Gold combo if upgraded between day 1 and day 15 the credit card on record will be



charged the difference of the two packages at the time of upgrade. If the upgrade is



between day 16 and day 30 you will be charged the full price of the upgraded package the



start of the next 30 day subscription</p>



  <p>Virtual I, Inc Virtual Tours combo packages can be upgraded from Gold package to



Silver combo if upgraded between day 1 and day 15 the credit card on record will be



charged the difference of the two packages at the time of upgrade. If the upgrade is



between day 16 and day 30 you will be charged the full price of the upgraded package the



start of the next 30 day subscription.</p>



  <p>Virtual I, Inc Virtual Tours combo packages can be upgraded from Silver package to



Silver combo if upgraded between day 1 and day 15 the credit card on record will be



charged the difference of the two packages at the time of upgrade. If the upgrade is



between day 16 and day 30 you will be charged the full price of the upgraded package the



start of the next 30 day subscription</p>



  <p>------------------------------------------------------------------------</p>



  <h2>Virtual I, Inc Virtual Tours: Tour Information:</h2>



  <p>------------------------------------------------------------------------</p>



  <p>All Virtual I, Inc visual Tour packages are available on recurring client option 30 day



to 30 day subscription or a 30 day subscription. Clients that choose the 30 subscription



are required to make a payment before the day 30 of there subscription, Clients on the



30 day-to-30 day recurring subscriptions will have their credit card charged on the



beginning of each succeeding 30 days until Virtual I, Inc receives notice of subscription



cancellation. Clients on the annual subscription will have their credit card charged at the



beginning of their next 365 day of there subscription; this will continue until Virtual I,



Inc receives notification of membership cancellation. All cancellation emails should be



sent to support@Virtual I, Inc.com; to cancel over the phone, please call 1-888-819-2336



during normal business hours and ask to speak with a customer service representative.



A visual tour shall remain active on the Internet as long as an agent’s membership is



active. Once a subscription has been canceled or has not paid. All existing visual tours



will become inactive on day 10 of the current subscription. Then on the 15



tours will be deleted.</p>



  <p>Your tour will be linked to Realtor.com only if you provide Virtual I, Inc with a valid



MLS number and only if the agent purchases this linking option (Virtual I, Inc is not



responsible for delays in linking to Realtor.com for factors outside our control, such as



contradicting information between the tour and Realtor.com). Agent will be provided



with links, both branded and MLS compliant, and may manually link their tour to other



websites. Virtual I, Inc accepts no responsibility for the linking of your visual tour.</p>



  <p>---------------------------------------------------------------------------------</p>



  <h2>Virtual I, Inc Virtual Tours: Promotions:</h2>



  <p>---------------------------------------------------------------------------------</p>






  <p>Virtual I, Inc offer a promotional price that will be given upon request and after the



Virtual I, Inc team reviews the request. Once the review is completed and accepted a



code will be provide to the client to enter upon sign up for a subscription package, these



promotions are for limited time use.</p>



  <p>Group rates will be provide upon request by emailing promotion@virtualiinc.com allow



up to 5 business days for a response.</p>



  <p>---------------------------------------------------------------------------------</p>



  <h2>Virtual I, Inc Virtual Tours: additional information:</h2>



  <p>---------------------------------------------------------------------------------</p>



  <p>Client agrees to upload appropriate and applicable images only. Personal images are not



considered acceptable. Any image that Virtual I, Inc deems to be inappropriate will result



in a deactivation of that particular visual tour. Client is responsible for any issues, legal or



otherwise, that result from images posted to the tours.</p>



  <p>Client agrees not to post virtual tours for anyone other than the account holder(s).



Anyone activating client tours for other clients will have their accounts immediately



terminated.</p>



  <p>Clients agrees to be held responsible for all posted information on all visual tours and



agrees to not place, or allow anyone using your account (such as a team member) to



place, copyrighted material on your tours without the permission of the copyright owner.



Accounts may not be shared.</p>



  <p>Virtual I, Inc reserves all rights to update these Terms and Conditions at any time.</p>
</div>