<div class="alert span8" style ="height:auto;border-radius:18px;width: 83%;margin-left:7%; margin-top: 6%;padding: 20px 0px 5px 44px; float:left;margin-bottom: -4%;">
  <p>Warning! Some of Your tours are In-Active. if you are unaware, kindly check.</p>
</div>
