<div class="alert" style ="width: 500px;height:auto;border-radius:10px;margin-left:11%;margin-top: 11%;padding: 20px;position: absolute; ">
  <h3>You have Downgraded your package. all Your tours are in inactive.  kindly adjust tour according to your package and activate them from "status page"  </h3>
</div>
