<div class="alert alert-error span8" style ="height:auto;border-radius:18px;width: 80%;margin-left:15%; margin-top: 1%;padding: 20px; float:left;float:left;">
  <h4>IMPORTANT!  You have Downgraded your package. all Your tours are in inactive.  kindly adjust tour according to your package and activate them from "status page"  </h4>
</div>
