<div class="alert" style ="width: 500px;height:auto;border-radius:10px;margin-left:11%;margin-top: 11%;padding: 20px;position: absolute; ">
  <h3>No Tours Created (or) Number of Tours created at this account does not match to the package purchased. Kindly Update Number of Tours according to the purchased package</h3>
</div>
