<div class="alert alert-info" style ="width: 500px;height:auto;border-radius:10px;margin-left:-5%;margin-top: 15%;padding: 30px;position: absolute; ">
   <h4>No Tours Created (or) Number of Tours created at this account does not match to the package purchased. Kindly Update Number of Tours according to the purchased package</h4>
</div>
