<div class="alert alert-info" style ="width: 500px;height:auto;border-radius:10px;margin-left:15%;margin-top: 10%;padding: 30px;">
    <h4>No Tours created yet, Click on "Create New Tour" to start Posting your Ads.</h4>
</div>
