<div style="float: right; margin: 10px 60px 0 0;">
  <%= link_to "Create New tour", '/paintings/new', :class => 'btn btn-primary btn-large' %>
  <%= link_to "Display tours", tours_path, :class => 'btn btn-primary btn-large' %>
</div>