<div id="card_change" class="modal hide fade in" style="display: none; ">
<div class="modal-header">
  <a class="close" data-dismiss="modal">X</a>
  <h3>New Card Details:</h3>
</div>
  <div class="modal-body">
<%=form_tag "home/change_card_details", :id=>'payment-form' do%>
<%=render 'payment_fields'%>
<%end%>

</div>

</div>
