<div class="pricing_grid row" style="margin-left: 5%; text-align: center;">
<div class=" first-grid span3" style="margin-left: 80px;height: 400px;">
  <%#*<img class="img-circle" data-src="holder.js/140x140">%>
  <br />
  <p id="price">
    <sup id="dollar-symb">$</sup>10<sub id ="per-month">/3Months</sub>
  </p>
  <hr />
  <center><h2>Package1</h2></center>
  <ul class="unstyled">
    <p><li>Vi showcase home page per house one year</li></p>
    <p><li>Template size 911 x 607</li></p>
    <p><li>Pictures downed for MLS listing </li></p>
    <p><li>Add $15 for 10 picture for a tour </li></p>
    <p><li>For $25 pictures posted on realtor.com one time fee</li></p>
  </ul>
  <hr></hr>
  <%= render '/home/signup_or_buy' %>
</div><!-- /.span4 -->
<div class="span3" id="long-landing" style="height: 430px;margin: -30px 0 0px 0px; padding: 40px;"><br />
  <%#*<img class="img-circle" data-src="holder.js/140x140">%>
  <p id="price"><sup id="dollar-symb">$</sup>45<sub id ="per-month">/Month</sub></p>
  <hr />
  <center><h2>Package2</h2></center>
  <ul class="unstyled">
    <p><li>Tour on VI show case home</li></p>
    <p><li>Template size 911 x 607</li></p>
    <p><li>Pictures downed for MLS listing</li></p>
    <p><li>6 month drop off or renew per tour</li></p>
    <p><li>$25 to add to Realtor.com  for each listing one time fee</li></p>
  </ul>
  <hr></hr>
  <%= render '/home/signup_or_buy' %>
</div><!-- /.span4 -->
<div class=" last-grid span3" style="margin-left: 0px;">
  <%#*<img class="img-circle" data-src="holder.js/140x140">%>
  <br />
  <p id="price">
    <sup id="dollar-symb">$</sup>30<sub id ="per-month">/Month</sub>
  </p>
  <hr />
  <center><h2>Package3</h2></center>
  <ul class="unstyled">
    <p><li>Tour on VI show case home </li></p>
    <p><li>Template size 911 x 607</li></p>
    <p><li>6 month off drop off or renew per tour</li></p>
    <p><li>Pictures downed for MLS listing </li></p>
    <p><li>$25 to add to Realtor.com  for each listing one time fee</li></p>
  </ul>
  <hr></hr>
  <%= render '/home/signup_or_buy' %>
</div><!-- /.span4 -->
</div><!-- /.row -->