<div class="tab-content" style="border:1px solid #ccc; width: 770px; height:600px;padding: 50px;">
  <div class="tab-pane active" id="div_status"><%=render 'status'%></div>
  <div class="tab-pane" id="div_billing"><%=render 'billing_page'%></div>
  <div class="tab-pane" id="div_how">...</div>
  <div class="tab-pane" id="div_profile">...</div>
</div>
