<div class="tab-content" style="border:10px solid #777777; width: 750px; height:600px;padding: 50px; overflow:scroll; ">
  <div class="tab-pane active" id="div_status"><%=render 'status'%></div>
  <div class="tab-pane" id="div_billing"><%=render 'billing_page'%></div>
  <div class="tab-pane" id="div_how">...</div>
  <div class="tab-pane" id="div_profile">...</div>
</div>
