<h2 style="margin: 0 0 10px 280px;">List of Tours</h2>
<%= render 'search_form'%>
<% if @tours.blank? %>
  <p style="color:red;margin-left:280px;">No Tours found, Please try again!</p>
<% end %>

  <%= render 'list_of_tours'%>
<div class ="span4" style="margin: 0 0px 0 10px; float: left;">
  <%= will_paginate @tours, :renderer => BootstrapPagination::Rails %>
</div>


