<div class ="span3" id="map-search">
  <p class="title-text">Search</p>
  <%= render 'search_form' %>
</div>
<div class="span8" id ="tour-list">
  <p class="title-text">List of Tours</p>
  <div id="all_tour_render">
    <%= render 'all_tours' %>
  </div>
<div class ="span4" style="margin: 0 0px 0 300px; float: left;">
  <%= will_paginate @tours, :renderer => BootstrapPagination::Rails %>
</div>
</div>
<script>
  function find_tours()
  {
    $.ajax({
      type: 'GET',
      url: "/tours/find_tours",

      data: {
        'id' :  $("#product").val()

      }

    }).done(function(html) {

  $('#all_tour_render').html(html);
    });
  }
</script>