<p class="title-text" style="margin:2% 0 10px 12%;">Tour slide show</p>
<div class="span11" style="margin-left: 10%;border: 40px solid #0073BF;border-radius:40px; width:auto;padding:0px;">
<div>
<div id="abc" style="">
<% @tour.paintings.each do |p| %>
  <%=image_tag p.image_url(:large) %>
<% end %>
</div>
</div>
</div>
<script>
        Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>");
        Galleria.configure({
          transition: 'fade',
          transitionSpeed:1000,
          showInfo: false
        });
        
        Galleria.run('#abc', {
          autoplay: 6000
        });

</script>