<div style="margin: 0 0 0 15%;">
<h1>Displaying Photos</h1>

<div id="abc" style="height: 550px; width: 850px;border: 1px solid #CCC;padding: 10px;border-radius: 2px;">
<% @tour.paintings.each do |p| %>
    <span class="content">
      <%=image_tag p.image_url(:large) %>
    </span>
<% end %>
</div>
</div>
<script>
        Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>");
        Galleria.configure({
          transition: 'fade'
        });
        Galleria.run('#abc', {
          autoplay: 6000
        });

</script>