
 
 

<%#*<p class="title-text" style="margin:2% 0 10px 12%;">Tour slide show</p>%>
    <div class="span11" style="position: relative;left: 10%;" >
      <div>
        <div id="abc"style="width:1150px; height:673px;margin-left: -15%">
          <% @tour.paintings.each do |p| %>

            <%=image_tag p.image_url(:extra_large) %>

          <% end %>

        </div>
      </div>
    </div>
  

<script>
  Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>");
  Galleria.configure({

    transition: 'fade',
    transitionSpeed:1000,
    showInfo: false
  });

  Galleria.run('#abc', {
    autoplay: 6000

  });

</script>
<style>
  .sign_in_css_slide_show{
    position:absolute;
    margin-left: -18%;
  }
  .galleria-container{
    border: 10px #C0C0C0 solid;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    overflow: hidden;
    background-color:transparent;
  }
  .main-image{
    border: 10px #C0C0C0 solid;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    overflow: hidden;
    background-color:transparent;

  }

  .galleria-thumbnails-container{
    margin-left: 8%;
  }
</style>



