
<%= render 'search_form' %>
<div id="map-div">
  <h1>Tour Map</h1>
  <div style="float: right;margin: -30px 200px 0 0;">
    
    <%= link_to "All Tours", {:controller => 'tours', :action => 'view_map'} , :class=> 'btn btn-mini btn-primary'%>&nbsp;<%Product.all.each do|p|%><%@product=p%><%= link_to @product.name, {:controller => 'tours', :action => 'view_map', :id => @product.id },:class=> 'btn btn-mini btn-primary' %>&nbsp;<%end%><%#= link_to "By Realtor", {:controller => 'tours', :action => 'view_map', :id => @realtor.id }, :class=> 'btn btn-mini btn-primary' %>
  </div>
  <%= gmaps({
  "map_options" => {"auto_zoom" => true, "auto_adjust" => false, "zoom" => 4, "center_latitude" => 38, "center_longitude" => -97 },
  "markers" => {"data" => @json }
   })%>
  
</div>