<div id="pages_div" style="text-align: justify;">
<h1 class="center">About Virtuali</h1>
<h2 class="grey center p20">(Something about virtuali)</h2>
<p>
Virtual I is a strong up coming company. We have a product that we feel will greatly help a agent or a home seller to sell there home as quick as possible. We have been creating visual tours for years with just a professional photographer going to each hone and then creating a visual tour with great success. We decided that it was time to offer this high quality visual tour to everyone. We have had agents tell us that there homes have sold in a week due to the quality of our tour. We want to offer this opportunity to all the realtors and home sells that have property to see or even rent.
</p>
<p>
What sells a house its a great visual tour. Here at Virtual I
we offer that to you. We have found that the better the
 quality picture the best chance  to sell a your home.
</p>
<p>
With over fifteen years of service to homeowners and Real Estate agents alike, Virtual i is the perfect solution for high quality home advertisement.
</p>
<p>
With professional quality pictures of  your home's exterior and interior,  your home will become more visible to people who are looking for a house in your area.
</p>
<p>
Virtual I visual tours prides itself in providing a simple, effective means to advertise your home. We use search engine optimization through Google to put your home out there for people that are looking to purchase a home for sale. We have a page on our site dedicated to agent advertised real estate and by owner property and a page for home rentals.
</p>
<p>

   What sells a home involves three factors:   Location of the home, what’s around the home, and exposure used to show the home's size, and condition of living space.   Virtual i exploit these important factors most effectively. We have the most advanced technology in home advertising to capture the home's essence, giving the perspective home buyer an accurate "personality" of the home for sale. Because of this, the home buyer will see what the home actually looks like as if they were there themselves. Virtual i High Definition Home Tours allow you to be there without being there while in the comfort of your home or office. With professional quality pictures of your home's exterior and interior,  your home will become more visible to people who are looking for a house in your area.   With over fifteen years of service to homeowners and Real Estate agents alike, Virtual i is the perfect solution for high quality home advertisement.
</p>
</div>
