<%if current_user%>
<div id="faq">
  <%else%>
<div>
  <%end%>
<div id="pages_div">

<h1 class="center">FAQ?</h1>
<h2 class="grey center p20">(Something about faq)</h2>
<section class="faq-section">
    <input type="checkbox" id="q1">
    <label for="q1">1. How do I sign up?</label>
    <p>At the top left of the page click on sign in and you will see the create account. Click on realtor or by owner and then pick your package.</p>
</section>
     <section class="faq-section">
    <input type="checkbox" id="q2">
    <label for="q2">2. What is the difference between Realtor and By owner?</label>
    <p>There are different packages offered for each category and how long a tour will run.</p>
    </section>
<section class="faq-section">
    <input type="checkbox" id="q3">
    <label for="q3">3. What is the difference between Realtor agent and Rental agent packages?</label>
    <p>The big difference between the two is how they show up on the map. We have them separated to make it easy to see what houses are for rent and for sale.</p>
    </section>
<section class="faq-section">
    <input type="checkbox" id="q4">
    <label for="q4">4. If I am a realtor and have rental property do I have to have 2 accounts?</label>
    <p>No We have it setup that you will get a 15% discount when you select the realtor / Rental agent. You will get all the same options as you would as a realtor or a rental agent.</p>
    </section>
<section class="faq-section">
    <input type="checkbox" id="q5">
    <label for="q5">5. If I decided to upgrade my package to the next package when will I be able to use the upgraded package?</label>
    <p>Once the package is upgrade you will be able to go an edit your tours to the new package.</p>
    </section>
<section class="faq-section">
    <input type="checkbox" id="q6">
    <label for="q6">6. If I decide down grade my package from package 3 to package 2 what happens?</label>
    <p>If you down grade from package 3 to 2 with in the first 15 days of the month you will get a $15 credit for the next month. If you down grade after the 15th of the month there is no credit. Your tours will run till the end of the month of the current package. The beginning of the next month you will need to check over your tours an make any changes needed.</p>
    </section>
<section class="faq-section">
    <input type="checkbox" id="q7">
    <label for="q7">7. What if I cancel my account during the month?</label>
    <p>Your tours will run to the end of the month at the end of the month beginning of the next month the tours will be inactive for 10 days after the 10th day the tours will be deleted.</p>
    </section>
<section class="faq-section">
    <input type="checkbox" id="q8">
    <label for="q8">8. How do I add pictures to my tour?</label>
    <p>This is a very easy process to upload your pictures. We have a button that will open to your computer and you select your pictures you want to upload. Just that easy.</p>
    </section>
<section class="faq-section">
    <input type="checkbox" id="q9">
    <label for="q9">9. How many tours can I create?</label>
    <p>As a agent realtor / rental your can create unlimited tours.
    If you’re a home seller you can only create 1</p>
    </section>

</div>
</div>
<%#= stylesheet_link_tag "faq", :media => "all" %>

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <style>
		.faq-section label,
		.faq-section label:hover{
			cursor: default;
			background: #eee;
		}
		body .faq-section p{ /* Increase specificity */
			display: block;
			color: #444;
			font-size: 1em;
			text-overflow: clip;
			white-space: normal;
			overflow: visible;
		}
    </style>
<![endif]-->

                <style>
                  #faq{
                    position: absolute;
                    width:95%;
                    margin: -16%;
}
                </style>