<div id="pages_div">
<p class="title-text">FAQ</p>

1.  how do I sign up?
     At the top left of the page click on sign in and you will see the create account. Click on realtor or by owner and then pick your package.

2. What is the difference between Realtor and By owner.
    There are different packages offered for each category and how long a tour will run.

3. What is the difference between Realtor agent and Rental agent packages.
    The big difference between the two is how they show up on the map. We have them separated to make it easy to see what houses are for rent and for sale.

4. If I am a realtor and have rental property do I have to have 2 accounts.
    No We have it setup that you will get a 15% discount when you select the realtor / Rental agent. You will get all the same options as you would as a realtor or a rental agent

5. If I decided to upgrade my package to the next package when will I be able to use the upgraded package.
  Once the package is upgrade you will be able to go an edit your tours to the new package.

6. If I decide down grade my package from package 3 to package 2 what happens.
     If you down grade from package 3 to 2 with in the first 15 days of the month you will get a $15 credit for the next month. If you down grade after the 15th of the month there is no credit. Your tours will run till the end of the month of the current package. The beginning of the next month you will need to check over your tours an make any changes needed.

7. What if I cancel my account during the month
     Your tours will run to the end of the month at the end of the month beginning of the next month the tours will be inactive for 10 days after the 10th day the tours will be deleted.

8. how do I add pictures to my tour
    This is a very easy process to upload your pictures. We have a button that will open to your computer and you select your pictures you want to upload. Just that easy.

9. how may tours can I create.
    As a agent realtor / rental your can create unlimited tours.
    If you’re a home seller you can only create 1

</div>
<style>
  p{
    line-height: 200%;
}
</style>