
<div class="pricing_grid row" style="margin-left: 5%; text-align: center;">

  <h1 class="center price-head ">V pricing</h1>
  <h2 class="grey center p60">After your wonderful thoughts, pick a plan that best fits your needs!</h2>
  <div   style="text-align:center;">
    <%= select_tag :product_id, options_from_collection_for_select(Product.all, "id", "name"),:onchange=>"manual_packages()",:class=>"select1" %>
    <div class="package_name center package-head"></div>
    <div id="manual_packages"></div>

  </div></div>
<script>
  $(function() {
    manual_packages();
  });
  function manual_packages(){
      //var name = document.getElementById("product_id");
     // var fin = name.options[name.selectedIndex].value;
     // alert('aaaa'+$('#product_id option:selected').text());
    $('.package_name').html($('#product_id option:selected').text());
    $('#manual_packages').html('<img id="theImg" src="/assets/359.gif" />');
    $.ajax({
      type: 'GET',
      url:'/packages/manual_packages',
      data:{
        id:$('#product_id').val()
      }
    }).done(function(html){
      $('#manual_packages').html(html);

    });

  }
</script>

<style>
  .select1 {
    width: 250px;
  }
  .price-head{
    color:#25AAE2;
   font-size: 40px;
  }
  .package-head{
    color:#2069a3;
      font-size: 20px;
  }
</style>
