<h1 class="center">Virtuali Pricing</h1>
<h2 class="grey center p60">After your wonderful thoughts, pick a plan that best fits your needs!</h2>
<div class="pricing_grid row" style="margin-left: 5%; text-align: center;">
        <div class=" first-grid span3" style="margin-left: 80px;height: 400px;">
          <%#*<img class="img-circle" data-src="holder.js/140x140">%>
          <br />
          <p id="price">
            <sup id="dollar-symb">$</sup>10<sub id ="per-month">/Month</sub>
          </p>
          <hr />
          <center><h2>Package1</h2></center>
          <ul class="unstyled">
            <p><li>Vi showcase home page per house one year</li></p>
            <p><li>Template size 600 x 400</li></p>
            <p><li>Pictures resized for brochure listing email back to your email address 900x600</li></p>
            <p><li>Add $15 for 10 picture for a tour</li></p>
          </ul>
          <hr></hr>
          <p><a class="btn" href="/users/sign_up">Sign up Now &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span3" id="long-landing" style="height: 430px;margin: -30px 0 0px 0px; padding: 40px;"><br />
          <%#*<img class="img-circle" data-src="holder.js/140x140">%>
          <p id="price"><sup id="dollar-symb">$</sup>50<sub id ="per-month">/Month</sub></p>
          <hr />
          <center><h2>Package2</h2></center>
          <ul class="unstyled">
            <p><li>Vi showcase home page per house one year</li></p>
            <p><li>Template size 600 x 400</li></p>
            <p><li>Pictures resized for brochure listing email back to your email address 900x600</li></p>
            <p><li>Add $15 for 10 picture for a tour</li></p>
          </ul>
          <hr></hr>
          <p><a class="btn" href="/users/sign_up">Sign up Now &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class=" last-grid span3" style="margin-left: 0px;">
          <%#*<img class="img-circle" data-src="holder.js/140x140">%>
          <br />
          <p id="price">
            <sup id="dollar-symb">$</sup>20<sub id ="per-month">/Month</sub>
          </p>
          <hr />
          <center><h2>Package3</h2></center>
          <ul class="unstyled">
            <p><li>Vi showcase home page per house one year</li></p>
            <p><li>Template size 600 x 400</li></p>
            <p><li>Pictures resized for brochure listing email back to your email address 900x600</li></p>
            <p><li>Add $15 for 10 picture for a tour</li></p>
          </ul>
          <hr></hr>
          <p><a class="btn" href="/users/sign_up">Sign up Now &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->