<div id="pages_div">
<p class="title-text">Tutorial</p>
<p>
  Virtual i is a new start up company trying to break in to a dot com market. We have a great idea that is going to appeal to everyone. The first idea was to build a site for realtors to up load pictures to a web site and be able to resize then optimize the pictures to place on a web site and to create a virtual tour. These virtual tours were to be emailed back to the agent to place on there own web site. We wanted to make it very easy for them create a virtual tour. But not to just make it easy to create tours but a page that we can offer to place that virtual tour to reside. As we were thing about the realty pages we came up with the idea of offering the same process to sell cars, boats, RV’s, and commercial vehicles. We feel opening up to these markets will offer the Virtual i a broader market and a bigger profit margin.


The main page   pg 1
- At the top of the page will sit the logo
- Then a banner with icons that identify the 4 show case pages. IE Realtor, Auto, RV/
   Boat, and Commercial vehicles. These icons will be hot links to each page.
- Then a banner with drop down menus of the following
      Products:
         Realtor
         Auto
         RV/ Boats
         Commercial Vehicles
     Prices:
         Realtor
         Auto
         RV/ Boats
         Commercial Vehicles
    FAQ
    Tutorial
    About VI
    Support
    Contact us
    Each category will be a hot link to is own page with the top heading page always being the same
</p>
<p>
  Virtual i is a new start up company trying to break in to a dot com market. We have a great idea that is going to appeal to everyone. The first idea was to build a site for realtors to up load pictures to a web site and be able to resize then optimize the pictures to place on a web site and to create a virtual tour. These virtual tours were to be emailed back to the agent to place on there own web site. We wanted to make it very easy for them create a virtual tour. But not to just make it easy to create tours but a page that we can offer to place that virtual tour to reside. As we were thing about the realty pages we came up with the idea of offering the same process to sell cars, boats, RV’s, and commercial vehicles. We feel opening up to these markets will offer the Virtual i a broader market and a bigger profit margin.


The main page   pg 1
- At the top of the page will sit the logo
- Then a banner with icons that identify the 4 show case pages. IE Realtor, Auto, RV/
   Boat, and Commercial vehicles. These icons will be hot links to each page.
- Then a banner with drop down menus of the following
      Products:
         Realtor
         Auto
         RV/ Boats
         Commercial Vehicles
     Prices:
         Realtor
         Auto
         RV/ Boats
         Commercial Vehicles
    FAQ
    Tutorial
    About VI
    Support
    Contact us
    Each category will be a hot link to is own page with the top heading page always being the same
</p>
</div>
