// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: red; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a 
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)


body.active_admin .blank_slate_container .blank_slate
{
border: 0px;
}

// body.active_admin .table_tools{
// height:75px;

// }
// body.active_admin a.table_tools_button{
// height:50px;
// font-size:10px;



// }

// body.active_admin .scopes li .count{
// display:none;}
body.active_admin .total{
float:right;
color: white;
font-size:40px;
padding:20px;
margin-bottom:2%;
margin-top:-4%;
background-color:#4d5256;
border-radius:20px;
background: -moz-linear-gradient(-90deg, #6A7176, #4D5256) repeat scroll 0 0 transparent !important;
    border-bottom: 1px solid #44484B;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    height: 20px;
    overflow: visible;

    position: inherit;
    text-shadow: 0 1px 0 #000000;
    z-index: 900;
}