// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pages_div{
  width: 85%;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 15px;
  text-align: justify;
  font-weight: 50;
  line-height: 30px;
}
h1.center{
  text-align: center;
  line-height: 20px;
  font-family: "ProximaNovaLight","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.grey {
color: grey;
font-size: 14px;
}

.center {
text-align: center;
}

.p60 {
margin-bottom: 60px!important;
}
.one-page > li > a:hover{
    background: none;
    border-bottom: 3px solid green;
}
#top-nav{
  margin-left: 30px;
}