// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#final_tour{
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-image: url(bg2.jpg);
    background-repeat: repeat;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) inset;
    height: 650px;

}

#final_tour table, tr, th, td{
margin-top: 20px;
text-align:center;
}
#final_tour img{
    border: solid 1px #CCC;
    padding: 10px;
    border-radius: 4px;
}
#user_img{
  height: 110px;
  width: 150px;
  float: right;margin: -400px 60px 0 30px;
  text-align: center;
}
#user_img img{
 border: solid 1px #CCC;
    padding: 10px;
    border-radius: 4px;
}

#map label { width: auto; display:inline; }
#map img { max-width: none; }

#map-div{
  margin-left: 150px;
}