// Place all the styles related to the tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#final_tour{
    padding: 10px;
    margin-bottom: 20px;
    background-image: url(bg2.jpg);
    background-repeat: repeat;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05) inset;
    height: 650px;
}

#final_tour table, tr, th, td{
margin-top: 20px;
text-align:center;
}

#user_img{
  height: 110px;
  width: 150px;
  float: right;margin: -400px 60px 0 30px;
  text-align: center;
}
#user_img img{
 background: none repeat scroll 0% 0% rgb(255, 255, 255);
  padding: 8px;
-webkit-box-shadow: 0 8px 6px -6px #CCC;
	   -moz-box-shadow: 0 8px 6px -6px #CCC;
	        box-shadow: 0 8px 6px -6px #CCC;
}

#map label { width: auto; display:inline; }
#map img { max-width: none; }

#map-div{
  margin-left:4%;
padding-top:  6px;
margin-top:2%;
}

#price{
font-weight:bold;
color:rgb(71, 156, 207);
letter-spacing:0pt;
word-spacing:-20pt;
font-size:60px;
text-align:center;
font-family: "ProximaNovaRegular","Helvetica Neue",Helvetica,Arial,sans-serif;

}
#per-month{
font-weight: normal;
font-size: 10px;
}
#dollar-symb{
font-size: 40px;
}

#tour-list{
  margin-left: 320px;
  margin-top: 2%;
}
#tour-list .well{
  margin-top: 0px;
}
#tour-list p{
margin-left: 30px;
 }


.title-text{
font-family: "ProximaNovaLight","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 38.5px;
font-weight: bold;
line-height: 1em;

}
#map-search{
margin-top:2%;
  width:20%;
  float: left;
  position: fixed;
}
DIV#img_bg.span7.well{
  margin-bottom: 1px;
}
#abc{
  height: 607px;
  width: 940px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  padding: 12px;
  box-shadow: 0px 2px 4px #CCC;
  border-radius: 2px;
}
DIV#final_tour.span11{
  background: black;
}
.map_container{
  margin-top: -7px;

}
.img-border {
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}