
<div class="listing-grid-item">
<div class="span2 draft_img" >

   <% unless draft.paintings.where(:name=>"Front").empty?%>
    <%= link_to(image_tag(draft.paintings.where(:name=>"Front").first.image_url(:extra_small)), edit_draft_path(draft))   %>
    <%else%>
    <%= link_to(image_tag('default_very_small_home.png',:style=>"width:73;height:73;"), edit_draft_path(draft))%>
    <%end%>
  </div>
<div class="span2 draft_text"><%=link_to draft.created_at.strftime("%b-%d-%Y"), edit_draft_path(draft)%></div>
</div>
<style>
  .listing-grid-item {
    float: left;
    width: 50%;
    border: medium none;
    width:135px;
  }
  .draft_text{
    width:100px;
    margin-left:42px;
    height:100px;
}
.draft_img{
  width:105px;
}
</style>