<footer>
  <div class="footer" style="float:right; margin-left: 60px;">
    <p>Powered by <a href="http://www.brilliance-works.com/" rel="author">Brilliance-works</a> &nbsp;&copy;2013</p>
  </div>
</footer>